@media screen and (max-width: 600px){
   
    #title {
        
        position: absolute;
        width: 80%;
        height: 6.8%;
        left: 12%;
        top: 20%;
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;
        line-height: 3vh;
        text-transform: uppercase;
    
        color: #000000;
    }
    #description-text {
        position: absolute;
        width: 80%;
        height: 17.7%;
        left: 12%;
        top: 27%;
    
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vh;
        line-height: 1.7vh;
        color: #000000;
    }
    #image {
        position: absolute;
        width: 44.4%;
        height: 49%;
        left: 27%;
        top: 30%;
    }
    #logo{
        position: absolute;
        width: 25px;
        height: 22px;
        left: 5%;
        top: 93%;
    }
}
@media screen and (min-width: 601px)  {
    #title {
        
        position: absolute;
        width: 33.1%;
        height: 6.8%;
        left: 18%;
        top: 28%;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 2vw;
        text-transform: uppercase;
    
        color: #000000;
    }
    #description-text {
        position: absolute;
        width: 31.9%;
        height: 17.7%;
        left: 18%;
        top: 36.2%;
    
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        line-height: 1.5vw;
        color: #000000;
    }
    #image {
        position: absolute;
        width: 22.2%;
        height: 24.5%;
        left: 56.4%;
        top: 31.3%;
    }
    #logo{
        position: absolute;
        width: 25px;
        height: 22px;
        left: 2.8%;
        top: 85.3%;
    }
}
@media screen and (min-width: 750px)  {
    #title {
        
        position: absolute;
        width: 80%;
        height: 6.8%;
        left: 10%;
        top: 20%;
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: bold;
        font-size: 3vh;
        line-height: 3vh;
        text-transform: uppercase;
    
        color: #000000;
    }
    #description-text {
        position: absolute;
        width: 80%;
        height: 17.7%;
        left: 10%;
        top: 27%;
    
        font-family: "IBM Plex Sans";
        font-style: normal;
        font-weight: normal;
        font-size: 1.5vh;
        line-height: 1.5vh;
        color: #000000;
    }
    #image {
        position: absolute;
        width: 44.4%;
        height: 49%;
        left: 25%;
        top: 30%;
    }
    #logo{
        position: absolute;
        width: 50px;
        height: 42px;
        left: 2.8%;
        top: 95%;
    }
} 

@media screen and (min-width: 1000px){
    
    #title {
        
        position: absolute;
        width: 33.1%;
        height: 6.8%;
        left: 18%;
        top: 28%;
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        line-height: 2vw;
        text-transform: uppercase;
    
        color: #000000;
    }
    #description-text {
        position: absolute;
        width: 31.9%;
        height: 17.7%;
        left: 18%;
        top: 36.2%;
    
        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2vw;
        line-height: 1.5vw;
        color: #000000;
    }
    #image {
        position: absolute;
        width: 22.2%;
        height: 24.5%;
        left: 56.4%;
        top: 31.3%;
    }
    #logo{
        position: absolute;
        width: 50px;
        height: 44px;
        left: 2.8%;
        top: 90.3%;
    }
}
